@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d8d8d8; /* Cinza claro */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
